.game_board, .lottery_history {
    border-radius: 10px;
    border: solid silver 2px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
th,
td {
    text-align: left;
    padding: 16px;
}
tr:nth-child(even) {
    background-color: #e2e2e2;
}